@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Lato&family=Mukta&display=swap');
body {
    background-color: rgb(224, 251, 252);
    margin: 0;
    padding: 0;
}

/* Heading */

#heading {
    font-size: 300%;
    font-family: Mukta, sans-serif;
    margin: 0 auto;
    text-align: center;
    padding: 70px; 
    color: rgb(41, 50, 65) ;
}

/* Carousel cards */
.carousel_container{
    width: 600px;
    height: 350px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}
.carousel_track {
    position: relative;
    height: 350px;
    width: 600px;
    margin: 0 auto;
    transition: transform 250ms ease-in;
    }

 #ex1 , #ex2, #random, #timer {
    position: absolute;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: rgb(41, 50, 65);
    
}

h2 {
 color: rgb(238, 108, 77);
}

.carousel_button {
    position: relative;
    background: transparent;
    font-weight: bold;
    border: none;
    font-size: 200%;
    cursor: pointer;
}

.nav_carousel {
    position: relative;
    bottom: 0;   
    left: 45%
}

.slide_indicator {
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(41, 50, 65 ,0.3);
    margin: 0 10px;
}

.slide_indicator.current_slide {
    background-color: rgb(41, 50, 65, 0.75);
}
/* color palettes  licorice rgb(41, 50, 65), regent st blue rgb(152, 193, 217), light cyan rgb(224, 251, 252), burnt Sienna rgb(238, 108, 77), mattise rgb(61, 90, 128)  */


/* Media queries */

@media only screen and (max-width: 700px) {
    .carousel_track {
        width: 300px;
        height: 200px;
    }

    #ex1 , #ex2, #random, #timer {
        position:absolute;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 2px rgba(3,2,2,0.3);
    }

    .slide_indicator{
        width: 10px;
        height: 10px;
        margin: 0 auto;
        right: 40%;
        padding-top: 8px;
        
    }

    .carousel_button {
        font-size: 100%;
    }

@media  only screen and (max-width: 350px)  {
    .carousel_track {
        width: 200px;
        height: 200px;
    }
}